.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: center;
  background-color: #FFF6E6;
  margin-bottom: 40px;
  font-family: YuMincho;
  color: #653F36;
}

.header__logo {
  margin-right: auto;
  margin-left: 57px;
}

.header__feature {
  border-right: solid;
  border-left: solid;
  border-width: 0.5px;
  text-align: center;
  padding-left: 54px;
  padding-right: 56px;
  margin: 18px 0px;
  margin-top: 24px;
  border-color: #653F36;
  height: 48px;
  font-size: 17px;
}

.header__notice {
  border-right: solid;
  text-align: center;
  border-width: 0.5px;
  padding: 2px 0;
  padding-right: 30px;
  padding-left: 25px;
  margin: 10px 0;
  margin-top: 22px;
  margin-right: -8px;
  border-color: #653F36;
  height: 48px;
  font-size: 18px;
}

.header__contact {
  padding: 0 44px;
}

.header__mail {
  border-right: solid;
  border-bottom: solid;
  border-left: solid;
  border-width: 1px;
  border-radius: 0 0 5px 5px;
  padding: 8px 35px;
  margin-right: 13px;
  background-color: white;
  color: #A33143;
  border-color: #A33143;
  font-size: 15px;
  width: 220px;
}

.header__tel {
  margin-top: 3px;
  font-size: 23px;
  font-family: YuMincho;
  color: #653F36;
}

.top {
  display: flex;
  justify-content: center;
  position: relative;
}

.top:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 160%;
  margin: -5% -6% 0;
  background: #FFF6E6;
  transform-origin: left center;
  transform: rotate(-12deg);
  z-index: -1;
}

.top__txt {
  position: absolute;
  width: 340px;
  height: 340px;
  line-height: 340px;
  writing-mode: vertical-rl;
  text-align: center;
  background-color: white;
  border-radius: 50%;
  right: 249px;
  bottom: 75px;
  box-shadow: 0 0 32px 6px #FFF6E6 inset;
}

.top__img {
  position: relative;
  margin-right: 234px;
  z-index: 10;
}

.box {
  display: flex;
  justify-content: center;
}

.feature__ttl {
  text-align: center;
  margin-top: 140px;
  font-family: YuMincho;
  color: #653F36;
  font-size: 25px;
  text-decoration: underline dotted;
  font-weight: normal;
}

.feature__btn {
  width: 170px;
  height: 40px;
  text-align: center;
  margin: 0 auto;
  margin-top: 92px;
  padding: 10px 10px;
  border: solid 1px #A33143;
  border-radius: 6px;
  font-family: YuMincho;
  color: #A33143;
}

.feature__icon {
  text-align: center;
  font-size: 20px;
  border: 2px solid;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.content {
  display: flex;
  justify-content: center;
  margin-left: 21px;
  margin-right: 39px;
  margin-top: 42px;
}

.content__img {
  width: 420px;
  height: 420px;
  position: relative;
  margin-right: 68px;
}

.content__imgbgc {
  background-color: #FFF6E6;
  width: 420px;
  height: 420px;
  border-radius: 50%;
  z-index: -1;
}

.content__text {
  height: 248px;
  width: 440px;
  margin-top: 181px;
}

.content__text h3 {
  font-family: YuMincho;
  font-size: 25px;
  font-weight: normal;
  padding-bottom: 11px;
  color: #653F36;
}

.content__text p {
  font-size: 16px;
}

.contentrvs {
  display: flex;
  justify-content: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 27px;
}

.contentrvs__img {
  width: 420px;
  height: 420px;
  position: relative;
  margin-left: 19px;
  order: 2;
}

.contentrvs__imgbgc {
  background-color: #FFF6E6;
  width: 420px;
  height: 420px;
  border-radius: 50%;
  z-index: -1;
}

.contentrvs__text {
  height: 248px;
  width: 358px;
  margin-top: 156px;
  margin-right: 84px;
  margin-left: 34px;
}

.contentrvs__text h3 {
  font-family: YuMincho;
  font-size: 25px;
  font-weight: normal;
  color: #653F36;
}

.contentrvs__text p {
  font-size: 15px;
}

.-left {
  position: absolute;
  top: 30px;
  right: 30px;
}

.-right {
  position: absolute;
  top: 30px;
  left: 30px;
}

.-adjust3rd {
  margin-top: 152px;
  margin-left: 2px;
}

.-adjust4th {
  margin-top: 179px;
  margin-right: 80px;
}

.contact {
  display: flex;
  /* justify-content: center; */
  position: relative;
  margin-top: 355px;
}

.contact:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 180%;
  margin: -4% -5% -10%;
  background: #FFF6E6;
  transform-origin: left center;
  transform: rotate(-6deg);
  z-index: -1;
  overflow: hidden;
}

.info {
  width: 510px;
  margin-left: 184px;
}

.info__ttl {
  border-bottom: 1px dashed;
  margin-bottom: 20px;
}

.info__ttl img {
  width: 135px;
  height: 23px;
}

.info__bizhour {
  font-family: YuMincho;
  color: #653F36;
}

.info__bizhour table {
  width: 510px;
  height: 178px;
  border: 1px solid #653F36;
  border-collapse: collapse;
}

.info__bizhour td, .info__bizhour th {
  border-collapse: collapse;
  padding: 10px;
  border: 1px solid #653F36;
  font-weight: lighter;
}

.info__bizhour th:nth-child(1) {
  width: 175px;
}

.info__bizhour thead {
  border-collapse: collapse;
  background-color: #653F36;
  color: white;
  border: 1px solid #653F36;
}

.info__contact {
  margin-right: 25px;
  margin-left: -3px;
  width: 246px;
  height: 40px;
  text-align: center;
  padding: 10px 5px;
  border: solid 1px #A33143;
  border-radius: 5px;
  color: #A33143;
}

.info__contact p {
  font-size: 16px;
  font-family: YuMincho;
}

.info__contact p img {
  margin-right: 9px;
}

.info__tel {
  margin-top: -6px;
  margin-left: 4px;
}

.info__tel p {
  font-size: 24px;
  font-family: YuMincho;
  letter-spacing: 2.7px;
}

.info__tel span {
  display: block;
  font-size: 11px;
  margin-left: 25px;
  margin-top: -8px;
}

.contactblk {
  display: flex;
  margin-bottom: 20px;
}

.mapbox {
  display: flex;
}

.map {
  margin: -7px 45px;
}

.map__google {
  width: 440px;
  height: 280px;
  background-color: tomato;
  margin-bottom: 10px;
}

.map__add {
  margin-right: 15px;
  font-size: 14px;
}

.map__btn {
  width: 219px;
  text-align: center;
  padding: 9px 22px;
  border: solid 1px #A33143;
  border-radius: 6px;
  font-size: 15px;
  font-family: YuMincho;
  color: #A33143;
}

.notice {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.notice__ttl {
  text-align: center;
  margin-top: 111px;
  margin-bottom: 30px;
  font-family: YuMincho;
  text-decoration: underline dotted;
  font-size: 25px;
  color: #653F36;
  font-weight: normal;
}

.post {
  margin-left: 320px;
  margin-top: 40px;
}

.post__ttl {
  font-family: YuMincho;
  color: #653F36;
  font-size: 26px;
}

.post__text {
  width: 715px;
}

.footer {
  text-align: center;
  margin-top: 60px;
  background-color: #FFF6E6;
}

.footer__contact {
  display: inline;
  text-align: center;
  border-right: 1px solid;
  padding-right: 10px;
  font-size: 14px;
  color: #653F36;
}

.footer__regal {
  display: inline;
  text-align: center;
  padding-left: 10px;
  font-size: 14px;
  color: #653F36;
}

.footer__copyright {
  margin-top: 14px;
  line-height: 26px;
  font-size: 12px;
  background-color: #653F36;
  color: white;
}
