body {
  overflow-x: hidden; }

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: center;
  background-color: #FFF6E6;
  padding-bottom: 40px;
  font-family: YuMincho;
  color: #653F36; }
  .header__logo {
    margin-right: auto;
    margin-left: 57px; }
  .header__feature {
    border-right: solid;
    border-left: solid;
    border-width: 0.5px;
    text-align: center;
    padding-left: 54px;
    padding-right: 56px;
    margin: 18px 0px;
    margin-top: 24px;
    border-color: #653F36;
    height: 48px;
    font-size: 17px; }
  .header__notice {
    border-right: solid;
    text-align: center;
    border-width: 0.5px;
    padding: 2px 0;
    padding-right: 30px;
    padding-left: 25px;
    margin: 10px 0;
    margin-top: 22px;
    margin-right: -8px;
    border-color: #653F36;
    height: 48px;
    font-size: 18px; }
  .header__contact {
    padding: 0 44px; }
  .header__mail {
    border-right: solid;
    border-bottom: solid;
    border-left: solid;
    border-width: 1px;
    border-radius: 0 0 5px 5px;
    padding: 8px 35px;
    margin-right: 13px;
    background-color: white;
    color: #A33143;
    border-color: #A33143;
    font-size: 15px;
    width: 220px; }
  .header__tel {
    margin-top: 3px;
    font-size: 23px;
    font-family: YuMincho;
    color: #653F36;
    letter-spacing: 3px; }

.sp {
  display: none; }

nav {
  display: none; }

.top {
  display: flex;
  justify-content: center;
  position: relative; }
  .top__bg {
    position: absolute;
    width: 100%;
    z-index: -10;
    top: -130px;
    right: 0; }
    .top__bg img {
      width: 100%; }
  .top__txt {
    position: absolute;
    width: 340px;
    height: 340px;
    line-height: 340px;
    writing-mode: vertical-rl;
    text-align: center;
    background-color: white;
    border-radius: 50%;
    right: 249px;
    bottom: 75px;
    box-shadow: 0 0 32px 6px #FFF6E6 inset; }
  .top__img {
    position: relative;
    margin-right: 234px;
    width: 570px;
    height: 456px;
    z-index: 10; }
  .top__footer {
    display: none; }

.box {
  display: flex;
  justify-content: center; }

.feature__ttl {
  text-align: center;
  margin-top: 140px;
  font-family: YuMincho;
  color: #653F36;
  font-size: 25px;
  text-decoration: underline dotted;
  font-weight: normal; }

.feature__btn {
  width: 170px;
  height: 40px;
  line-height: 20px;
  text-align: center;
  margin: 0 auto;
  margin-top: 88px;
  padding: 10px 10px;
  border: solid 1px #A33143;
  border-radius: 6px;
  font-family: YuMincho;
  color: #A33143; }

.feature__icon {
  text-align: center;
  font-size: 20px;
  border: 2px solid;
  height: 30px;
  width: 30px;
  border-radius: 50%; }

.content {
  display: flex;
  justify-content: center;
  margin-left: 21px;
  margin-right: 39px;
  margin-top: 42px; }
  .content__img {
    width: 420px;
    height: 420px;
    position: relative;
    margin-right: 68px; }
  .content__imgbgc {
    background-color: #FFF6E6;
    width: 420px;
    height: 420px;
    border-radius: 50%;
    z-index: -1; }
  .content__text {
    height: 248px;
    width: 440px;
    margin-top: 181px; }
    .content__text h3 {
      font-family: YuMincho;
      font-size: 25px;
      font-weight: normal;
      padding-bottom: 11px;
      color: #653F36; }
    .content__text p {
      font-size: 16px; }

.contentrvs {
  display: flex;
  justify-content: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 27px; }
  .contentrvs__img {
    width: 420px;
    height: 420px;
    position: relative;
    margin-left: 23px;
    margin-top: 5px;
    order: 2; }
  .contentrvs__imgbgc {
    background-color: #FFF6E6;
    width: 420px;
    height: 420px;
    border-radius: 50%;
    z-index: -1; }
  .contentrvs__text {
    height: 248px;
    width: 358px;
    margin-top: 156px;
    margin-right: 84px;
    margin-left: 34px;
    line-height: 30px; }
    .contentrvs__text h3 {
      font-family: YuMincho;
      font-size: 25px;
      font-weight: normal;
      color: #653F36; }
    .contentrvs__text p {
      font-size: 15px;
      margin-top: 10px; }

.-left {
  position: absolute;
  top: 30px;
  right: 30px; }

.-right {
  position: absolute;
  top: 30px;
  left: 30px; }

.-adjust3rd {
  margin-top: 152px;
  margin-left: 2px; }
  .-adjust3rd h3 {
    width: 350px;
    padding-bottom: 2px; }

.-adjust4th {
  margin-top: 179px;
  margin-right: 80px; }

.contact {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 50px;
  background-color: #FFF6E6; }

.info {
  width: 510px;
  margin-left: 184px;
  margin-top: 18px; }
  .info__ttl {
    border-bottom: 1px dashed;
    margin-bottom: 20px; }
    .info__ttl img {
      width: 135px;
      height: 23px; }
  .info__bizhour {
    font-family: YuMincho;
    color: #653F36; }
    .info__bizhour table {
      width: 510px;
      height: 180px;
      border: 2px solid #653F36;
      background-color: white;
      border-collapse: collapse; }
    .info__bizhour td, .info__bizhour th {
      border-collapse: collapse;
      padding: 10px;
      border: 1px solid #653F36;
      font-weight: lighter; }
    .info__bizhour th:nth-child(1) {
      width: 175px; }
    .info__bizhour thead {
      border-collapse: collapse;
      background-color: #653F36;
      color: white;
      border: 1px solid #653F36; }
  .info__contact {
    margin-right: 25px;
    margin-left: -3px;
    width: 246px;
    height: 40px;
    line-height: 20px;
    text-align: center;
    padding: 10px 5px;
    border: solid 1px #A33143;
    border-radius: 5px;
    color: #A33143;
    background-color: white; }
    .info__contact p {
      font-size: 16px;
      font-family: YuMincho; }
      .info__contact p img {
        margin-right: 9px; }
  .info__tel {
    margin-top: -6px;
    margin-left: 4px; }
    .info__tel p {
      font-size: 24px;
      font-family: YuMincho;
      letter-spacing: 2.7px; }
    .info__tel span {
      display: block;
      font-size: 11px;
      margin-left: 25px;
      margin-top: -8px; }

.contactblk {
  display: flex;
  margin-bottom: 16px; }

.mapbox {
  display: flex; }

.map {
  margin-left: 45px;
  margin-top: 10px; }
  .map__google {
    width: 440px;
    height: 280px;
    margin-bottom: 10px; }
  .map__add {
    margin-right: 12px;
    margin-left: 3px;
    font-size: 14px;
    line-height: 22px; }
  .map__btn {
    width: 219px;
    text-align: center;
    padding: 9px 22px;
    margin-top: 2px;
    border: solid 1px #A33143;
    border-radius: 6px;
    font-size: 15px;
    font-family: YuMincho;
    color: #A33143;
    background-color: white; }

.notice {
  width: 100%;
  display: flex;
  flex-direction: column; }
  .notice__ttl {
    text-align: center;
    margin-top: 111px;
    margin-bottom: 30px;
    font-family: YuMincho;
    text-decoration: underline dotted;
    font-size: 25px;
    color: #653F36;
    font-weight: normal; }
  .notice__spfooter {
    display: none; }
  .notice__footer {
    height: 138px;
    width: 100%;
    margin-top: 150px; }
    .notice__footer img {
      height: 138px;
      width: 100%; }

.post {
  width: 720px;
  margin: 20px auto 0 auto;
  border-top: solid 1px #F7E8E8; }
  .post__date {
    margin-top: 20px; }
  .post__ttl {
    font-family: YuMincho;
    color: #653F36;
    font-size: 26px; }
  .post__text {
    width: 715px;
    margin-bottom: 5px; }

.secondpost {
  margin-bottom: -10px; }

.thirdpost {
  margin-top: 17px; }

.footer {
  text-align: center;
  padding-top: 50px;
  background-color: #FFF6E6; }
  .footer__contact {
    display: inline;
    text-align: center;
    border-right: 1px solid;
    padding-right: 10px;
    font-size: 14px;
    color: #653F36; }
  .footer__regal {
    display: inline;
    text-align: center;
    padding-left: 10px;
    font-size: 14px;
    color: #653F36; }
  .footer__copyright {
    margin-top: 14px;
    line-height: 26px;
    font-size: 12px;
    background-color: #653F36;
    color: white; }

.spfooter {
  display: none; }

.scroll {
  display: none;
  position: fixed;
  bottom: 134px;
  right: 78px; }

@media screen and (max-width: 1365px) {
  .header__logo {
    max-width: 135px;
    margin-top: 16px;
    margin-left: 26px; }
    .header__logo img {
      width: 100%; }
  .header__feature {
    display: none; }
  .header__notice {
    display: none; }
  .header__contact {
    display: none; }
  .header__mail {
    display: none; }
  .header__tel {
    display: none; }
  .sp {
    display: block;
    height: 20px;
    position: absolute;
    right: 19px;
    top: 21px;
    width: 22px;
    z-index: 99; }
    .sp__line {
      background: #5f2201;
      display: block;
      height: 3px;
      position: absolute;
      transition: transform .3s;
      width: 100%; }
    .sp__menu {
      position: absolute;
      top: 30px;
      right: -11px;
      font-family: YuGothic;
      font-size: 14px; }
    .sp .-top.active {
      top: 8px;
      transform: rotate(45deg); }
    .sp .-middle {
      top: 9px; }
      .sp .-middle.active {
        transform: scaleX(0); }
    .sp .-bottom {
      bottom: 0; }
      .sp .-bottom.active {
        bottom: 10px;
        transform: rotate(135deg); }
  .gnav {
    background: #FFF6E6;
    display: none;
    height: 100%;
    position: fixed;
    width: 100%;
    height: 575px;
    z-index: 98; }
    .gnav__img {
      margin-top: 95px; }
      .gnav__img img {
        width: 135px; }
    .gnav__wrap {
      height: 100%;
      position: absolute;
      width: 100%; }
    .gnav__item {
      margin: 40px auto;
      font-family: YuGothic;
      font-size: 18px;
      width: 220px;
      height: 60px;
      line-height: 60px;
      border: 1px solid #5f2201;
      border-radius: 9px; }
      .gnav__item a {
        color: #5f2201;
        /* padding: 40px; */
        text-decoration: none;
        transition: .5s;
        cursor: pointer; }
        .gnav__item a:hover {
          color: #666; }
  .top {
    flex-direction: column;
    background-color: #FFF6E6;
    padding-bottom: 50px; }
    .top::before {
      display: none; }
    .top__bg {
      display: none; }
    .top__img {
      position: static;
      order: 2;
      max-width: 340px;
      height: 238px;
      width: 100%;
      margin: 0 auto;
      margin-top: -40px; }
      .top__img img {
        width: 100%;
        height: 100%; }
    .top__txt {
      position: static;
      order: 1;
      max-width: 240px;
      max-height: 240px;
      right: 10px;
      bottom: 10px;
      margin: 0 auto; }
    .top__footer {
      display: block; }
      .top__footer img {
        height: 60px;
        width: 100%; }
  .feature {
    margin-top: 30px; }
    .feature__ttl {
      margin-top: 3px;
      font-size: 21px;
      text-decoration: none;
      border-bottom: 1px dashed;
      margin-bottom: 5px;
      line-height: 29px; }
    .feature__btn {
      margin-top: -43px; }
  .content {
    flex-direction: column;
    margin: 0; }
    .content__img {
      margin: -30px auto 0 auto;
      max-width: 310px;
      height: 317px;
      order: 2; }
      .content__img img {
        width: 100%; }
    .content__imgbgc {
      max-width: 310px;
      max-height: 310px;
      width: 100%; }
    .content__text {
      margin: 27px auto 40px auto;
      order: 1;
      height: auto;
      width: 350px; }
      .content__text h3 {
        font-size: 21px;
        padding-bottom: 11px; }
      .content__text p {
        font-size: 15px; }
  .-right {
    top: 18px;
    left: 15px; }
  .contentrvs {
    flex-direction: column;
    margin: 0; }
    .contentrvs__img {
      order: 2;
      margin: 3px auto 0 auto;
      max-width: 310px; }
      .contentrvs__img img {
        width: 100%; }
    .contentrvs__imgbgc {
      max-width: 310px;
      max-height: 310px;
      width: 100%; }
    .contentrvs__text {
      margin: 62px auto 0 auto;
      order: 1;
      height: auto; }
      .contentrvs__text h3 {
        font-size: 21px; }
      .contentrvs__text p {
        margin-top: 15px; }
  .post {
    width: 350px;
    margin: 0 auto;
    margin-bottom: -12px;
    padding: 30px 20px;
    border-top: dashed 1px #5f2201; }
    .post__date {
      font-size: 12px;
      margin-top: -14px;
      margin-left: -4px; }
    .post__ttl {
      margin-left: -5px;
      margin-top: 3px;
      font-size: 20px; }
    .post__text {
      width: 100%;
      margin-top: 16px;
      margin-left: -4px; }
  .notice__ttl {
    margin-top: 96px;
    margin-bottom: 43px;
    font-size: 20px; }
  .notice__footer {
    display: none; }
  .notice__spfooter {
    display: block;
    height: 100px;
    width: 100%; }
    .notice__spfooter img {
      height: 100px;
      width: 100%; }
  .contact {
    flex-direction: column;
    margin-top: 0;
    padding: 0;
    background-color: #FFF6E6; }
    .contact::before {
      display: none; }
  .info {
    width: 390px;
    margin: -3px auto 0 auto; }
    .info__ttl {
      margin: 0 20px;
      margin-bottom: 13px;
      padding-bottom: 3px; }
    .info__contact {
      margin-left: 0;
      margin-right: 5px;
      width: 180px; }
      .info__contact p {
        font-size: 12px;
        font-family: Hiragino Kaku Gothic Pro;
        letter-spacing: 1px; }
    .info__tel {
      padding-top: 8px; }
      .info__tel p {
        font-family: Hiragino Kaku Gothic Pro;
        font-size: 17px;
        letter-spacing: 1px;
        margin-top: -2px; }
      .info__tel span {
        margin-left: 0;
        line-height: 23px; }
    .info__bizhour {
      display: none; }
  .contactblk {
    justify-content: center; }
  .map {
    margin-top: 20px;
    margin-left: 0; }
    .map__google {
      position: relative;
      width: 350px;
      height: 250px;
      margin: 0 auto;
      display: block; }
      .map__google iframe {
        width: 100%;
        height: 100%; }
    .map__add {
      margin-left: -31px;
      text-align: center;
      font-size: 12px;
      line-height: 19px;
      margin: 14px 0 8px 0; }
    .map__btn {
      margin: 0 auto;
      padding: 8px 22px; }
  .mapbox {
    flex-direction: column;
    justify-content: center; }
  .-adjust3rd {
    margin-top: -18px;
    margin-bottom: 40px;
    padding-bottom: 17px; }
    .-adjust3rd h3 {
      padding-bottom: 15px; }
    .-adjust3rd p {
      line-height: 25px; }
  .-adjust4th {
    margin-top: 74px auto 16pc auto; }
  .footer {
    background-color: #FFF6E6;
    margin: 0;
    padding-top: 22px;
    margin-bottom: 65px; }
    .footer__contact {
      font-size: 12px; }
    .footer__regal {
      font-size: 12px; }
    .footer__copyright {
      margin-top: 5px; }
  .spfooter {
    height: 64px;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    color: #4E1C01;
    font-size: 11px;
    z-index: 99; }
    .spfooter img {
      width: 18px;
      margin: 0 auto; }
    .spfooter__contents {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin: 10px 0;
      padding: 0 30px;
      border-right: 1px solid; }
      .spfooter__contents:nth-child(3) {
        border-right: none; }
  .scroll {
    right: 28px;
    bottom: 100px; } }
