.contact {
  display: flex;
  /* justify-content: center; */
  position: relative;
  margin-top: 355px;
}

.contact:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 180%;
  margin: -4% -5% -10%;
  background: #FFF6E6;
  transform-origin: left center;
  transform: rotate(-6deg);
  z-index: -1;
  overflow: hidden;
}

.info {
  width: 510px;
  margin-left: 184px;
}

.info__ttl {
  border-bottom: 1px dashed;
  margin-bottom: 20px;
}

.info__ttl img {
  width: 135px;
  height: 23px;
}

.info__bizhour {
  font-family: YuMincho;
  color: #653F36;
}

.info__bizhour table {
  width: 510px;
  height: 178px;
  border: 1px solid #653F36;
  border-collapse: collapse;
}

.info__bizhour td, .info__bizhour th {
  border-collapse: collapse;
  padding: 10px;
  border: 1px solid #653F36;
  font-weight: lighter;
}

.info__bizhour th:nth-child(1) {
  width: 175px;
}

.info__bizhour thead {
  border-collapse: collapse;
  background-color: #653F36;
  color: white;
  border: 1px solid #653F36;
}

.info__contact {
  margin-right: 25px;
  margin-left: -3px;
  width: 246px;
  height: 40px;
  text-align: center;
  padding: 10px 5px;
  border: solid 1px #A33143;
  border-radius: 5px;
  color: #A33143;
}

.info__contact p {
  font-size: 16px;
  font-family: YuMincho;
}

.info__contact p img {
  margin-right: 9px;
}

.info__tel {
  margin-top: -6px;
  margin-left: 4px;
}

.info__tel p {
  font-size: 24px;
  font-family: YuMincho;
  letter-spacing: 2.7px;
}

.info__tel span {
  display: block;
  font-size: 11px;
  margin-left: 25px;
  margin-top: -8px;
}

.contactblk {
  display: flex;
  margin-bottom: 20px;
}

.mapbox {
  display: flex;
}

.map {
  margin: -7px 45px;
}

.map__google {
  width: 440px;
  height: 280px;
  background-color: tomato;
  margin-bottom: 10px;
}

.map__add {
  margin-right: 15px;
  font-size: 14px;
}

.map__btn {
  width: 219px;
  text-align: center;
  padding: 9px 22px;
  border: solid 1px #A33143;
  border-radius: 6px;
  font-size: 15px;
  font-family: YuMincho;
  color: #A33143;
}
