.footer {
  text-align: center;
  margin-top: 50px;
  background-color: #FFF6E6;
}

.footer__contact {
  display: inline;
  text-align: center;
  border-right: 1px solid;
  padding-right: 10px;
}

.footer__regal {
  display: inline;
  text-align: center;
  padding-left: 10px;
}

.footer__copyright {
  margin-top: 14px;
  line-height: 26px;
  font-size: 12px;
  background-color: #653F36;
  color: white;
}
