.contact {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 200px;
}

.contact:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 180%;
  margin: -5% -5% -10%;
  background: pink;
  transform-origin: left center;
  transform: rotate(-3deg);
  z-index: -1;
  overflow: hidden;
}

.info {
  width: 510px;
}

.info__ttl {
  border-bottom: 1px dashed;
  margin-bottom: 20px;
}

.info__ttl img {
  width: 135px;
  height: 23px;
}

.info__bizhour table {
  width: 510px;
  height: 190px;
  border: 1px solid #653F36;
  border-collapse: collapse;
}

.info__bizhour td, .info__bizhour th {
  border-collapse: collapse;
  padding: 10px;
  border: 1px solid #653F36;
}

.info__bizhour thead {
  border-collapse: collapse;
  background-color: #653F36;
  color: white;
  border: 1px solid #653F36;
}

.info__contact {
  margin-right: 50px;
}

.contactblk {
  display: flex;
  margin-bottom: 20px;
}

.map {
  margin: 0 50px;
}

.map__google {
  width: 440px;
  height: 280px;
  background-color: tomato;
  margin-bottom: 30px;
}

.map__add {
  display: inline;
  margin-right: 30px;
}

.map__btn {
  display: inline;
  width: 300px;
  text-align: center;
  padding: 20px 40px;
  border: solid 1px;
  border-radius: 15px;
}
