.feature {
    &__ttl {
        text-align: center;
        margin: 100px auto;
    }

    &__btn {
        width: 300px;
        text-align: center;
        margin: 50px auto;
        padding: 20px 40px;
        border: solid 1px;
        border-radius: 15px;
    }
    
}

.content {
    display: flex;
    justify-content: center;
    margin: 50px;

    &__img {
        width: 420px;
        height: 420px;
        position: relative;

    }

    &__imgbgc {
        // position: absolute;
        // top: 30px;
        // right: 30px;
        background-color: lime;
        width: 420px;
        height: 420px;
        border-radius: 50%;
        z-index: -1;


    }

    &__text {
        height: 420px;
        padding: 100px 50px;
    }

}
.contentrvs {

    display: flex;
    justify-content: center;
    margin: 50px;

    &__img {
        width: 420px;
        height: 420px;
        position: relative;
        order: 2;

    }

    &__imgbgc {
        // position: absolute;
        // top: 30px;
        // right: 30px;
        background-color: lime;
        width: 420px;
        height: 420px;
        border-radius: 50%;
        z-index: -1;


    }

    &__text {
        height: 420px;
        padding: 100px 50px;
        order: 1;
    }


}


.-left {
    position: absolute;
    top: 30px;
    right: 30px;
}

.-right {
    position: absolute;
    top: 30px;
    left: 30px;
}
