.box {
    display: flex;
    justify-content: center;
}

.feature {
    &__ttl {
        text-align: center;
        margin: 100px auto;
        font-family: YuMincho;
        color: #653F36;
        font-size: 35px;
        text-decoration: underline dotted;
        font-weight: normal;

    }

    &__btn {
        width: 170px;
        height: 40px;
        text-align: center;
        margin: 50px auto;
        padding: 10px 10px;
        border: solid 1px #A33143;
        border-radius: 15px;
        font-family: YuMincho;
        color: #A33143;

    }

    &__icon {
        text-align: center;
        font-size: 20px;
        border: 2px solid;
        height: 30px;
        width: 30px;
        border-radius: 50%;


    }
    
}



.content {
    display: flex;
    justify-content: center;
    margin: 50px;

    &__img {
        width: 420px;
        height: 420px;
        position: relative;

    }

    &__imgbgc {
        // position: absolute;
        // top: 30px;
        // right: 30px;
        background-color: #FFF6E6;
        width: 420px;
        height: 420px;
        border-radius: 50%;
        z-index: -1;


    }

    &__text {
        height: 420px;
        padding: 100px 50px;

        h3 {
            font-family: YuMincho;
            font-size: 25px;
            font-weight: normal;
            padding: 30px 0;
            color: #653F36;
            }

        p  {
            font-size: 15px;

        }
    }


}
.contentrvs {

    display: flex;
    justify-content: center;
    margin: 50px;

    &__img {
        width: 420px;
        height: 420px;
        position: relative;
        order: 2;

    }

    &__imgbgc {
        // position: absolute;
        // top: 30px;
        // right: 30px;
        background-color: #FFF6E6;
        width: 420px;
        height: 420px;
        border-radius: 50%;
        z-index: -1;


    }

    &__text {
        height: 420px;
        padding: 100px 50px;
        order: 1;
    }

    h2,h3 {
    font-family: YuMincho;

    }


}


.-left {
    position: absolute;
    top: 30px;
    right: 30px;
}

.-right {
    position: absolute;
    top: 30px;
    left: 30px;
}
