@media screen and (max-width: 1366px) {
    .header {
        &__logo {
            max-width: 135px;
            margin-top: 30px;
            margin-left: 20px;

            img {
                width: 100%;
            }
        }
        // PC版のメニュー部分を非表示に
        &__feature {
            display: none;
        }
        // PC版のメニュー部分を非表示に
        &__notice {
            display: none;
        }

        // PC版のメニュー部分を非表示に
        &__contact {
            display: none;
        }
        
        // PC版のメニュー部分を非表示に
        &__mail {
            display: none;
        }

        // PC版のメニュー部分を非表示に
        &__tel {
            display: none;
        }
    }
        // ハンバーガーメニュー
    .sp {
        display: block;
        height: 20px;
        position: absolute;
        right: 46px;
        top: 21px;
        width: 22px;
        z-index: 99;

        &__line {
            background: #5f2201;
            display: block;
            height: 2px;
            position: absolute;
            transition:transform .3s;
            width: 100%;
        }

        &__menu {
            position: absolute;
            top: 26px;
            right: -15px;
        }

        .-top.active {
            top: 8px;
            transform: rotate(45deg);
    
        }
    
        .-middle {
            top: 9px;
    
            &.active{
                transform:scaleX(0);
            }
            }
    
        .-bottom {
            bottom: 0;
    
            &.active {
                bottom: 10px;
                transform: rotate(135deg);
            }
        }
    }
    

    .gnav{
        background: #FFF6E6 ;
        display: none;
        height: 100%;
        position: fixed;
        width: 100%;
        height: 575px;
        z-index: 98;

        &__img{
            margin-top: 95px;

            img {
                width: 135px;
            }
        }

        &__wrap{
            height: 100%;
            position: absolute;
            width: 100%;
        }

        &__item{
            margin: 40px auto;
            font-family: YuGothic;
            font-size: 18px;
            width: 220px;
            height: 60px;
            line-height: 60px;
            border: 1px solid #5f2201;
            border-radius: 9px;



            a{
                color: #5f2201;
                // font-size: 24px;
                // font-weight: bold;
                /* padding: 40px; */
                text-decoration: none;
                transition: .5s;
                cursor: pointer;

                &:hover {
                    color: #666;
                }
            }

        }
    }

    

       
        
    .top {
        flex-direction: column;
        background-color: #FFF6E6;
        // background-image: url(../../img/bg_top.png);
        // background-size: auto  ;
        padding-bottom: 50px;
        // object-fit: cover;
        // background-position: 0 -100px;



        &::before {
            // margin: -28% -18% 0;
            display: none;
        }
        
        &__img {
            position: static;
            order: 2;
            max-width: 340px;
            width: 100%;
            margin: 0 auto;
            margin-top: -80px;
            

            img {
                width: 100%;
                height: 100%;
            }
        }

        &__txt {
            position: static;
            order: 1;
            max-width: 240px;
            max-height: 240px;
            right: 10px;
            bottom: 10px;
            margin: 0 auto;
        }

        &__footer {
            img {
                height: 60px;
                width: 100%;
            }
            

        }

        }

    .feature {
        margin-top: 30px;

        &__ttl {
            margin: 0;
        }

    }

    .content {
        flex-direction: column;
        margin: 0;

        &__img {
            margin: 0 auto;
            max-width: 310px;
            order: 2;

            img  {
                width: 100%;
            }
        }
        
        &__imgbgc {
            max-width: 310px;
            max-height: 310px;
            width: 100%;
        }

        &__text {
            margin: 20px auto 0 auto;
            order: 1;
            height: auto;
            width: 100%;
            text-align: center;

        }
    }

    .contentrvs {
        flex-direction: column;
        margin: 0;

        &__img {
            order: ２;
            margin: 0 auto;
            max-width: 310px;
            
            img  {
                width: 100%;
            }
        }

        &__imgbgc {
            max-width: 310px;
            max-height: 310px;
            width: 100%;
        }

        &__text {
            margin: 20px auto 0 auto;
            order: １;
            height: auto;
        }
    }

    // .notice {
    //     // display: none;

    // }

    .post {
        margin:0 20px;
        padding: 30px 20px;
        border-top: dashed 1px;

        &__text {
            width: 100%;
        }
    }

    .notice {
        &__footer {
            height: 50px;
            background-image: url("../../img/bg_footer.png");
            background-size: cover;

        }
    }

    .contact {
        // display: none;
        flex-direction: column;
        margin-top: 0px;
        background-color: #FFF6E6;

        &::before {
            display: none;
        }
    }

    .info {
        margin: 0;
        width: 100%;
        // background-image: url("img/bg_footer.png");

        &__ttl {
            margin: 0 20px;
            margin-bottom: 20px;
        }

        &__contact {
            margin-left: 0;
            margin-right: 13px;
            width: 180px;

            p { 
            font-size: 12px;

            }

        }

        &__tel {
            padding-top: 8px;
            p {
                font-size: 16px;
            }
            span {
             margin-left: 0;   
            }
        }

        &__bizhour {
            display: none;
        }

        
    }

    .contactblk {
        justify-content: center;
    }

    .map {

        &__google {
            position: relative;
            width: 90%;
            margin: 0 auto;
            padding-bottom: 14px;
            display: block;

            iframe {  
                width: 100%;
                height: 100%;
            }
        }

        &__add {
            margin: 0 auto;
        }

        &__btn {
            margin: 0 auto;
        }
    }

    .mapbox {
        flex-direction: column;
        justify-content: center;
    }

    .-adjust3rd {
        margin: 0;
    }

    .footer {
        background-color: #FFF6E6;
        margin: 0;
        padding-top: 10px;
        margin-bottom: 65px;
    }

    .spfooter {
        height: 64px;
        display: flex;
        justify-content: space-evenly;
        position: fixed;
        bottom: 0;
        left: 0;
        // margin: 0;
        width: 100%;
        background-color: #fff;
        color: #4E1C01;
        font-size: 11px;

        img {
            max-width: 18px;
            margin: 0 auto;
        }
        
        &__contents {
        // 横並び、縦方向中央揃え
          display: flex;
          flex-direction: column;

        // 文字中央揃え
          text-align: center;
        // 余白調整
            margin: 10px 0;
            padding:0 30px;
            border-right:1px solid ;    
          
          &:nth-child(3) {
            border-right: none;
          }
        }
    }
      
}

       
