.notice {
    width: 100%;
    display: flex;
    flex-direction: column;

    &__ttl {
        text-align: center;
        margin-top: 111px;
        margin-bottom: 30px;
        font-family: YuMincho;
        text-decoration: underline dotted;
        font-size: 25px;
        color: #653F36;
        font-weight: normal;
    }

    &__spfooter {
        display: none;
    }

    &__footer {
        height: 138px;
        width: 100%;
        margin-top: 150px;

        img {
            height: 138px;
            width: 100%;
        }
        
        // background-image: url("../../img/pc_footer_img.png");
        // background-size: cover;
    }


        
}

.post {
    width: 720px;
    // margin-left: 320px;
    margin: 20px auto 0 auto;
    border-top: solid 1px #F7E8E8;
    // margin-bottom: 32px;

    &__date {
        margin-top: 20px;

    }

    &__ttl {
        font-family: YuMincho;
        color: #653F36;
        font-size: 26px;
    }

    &__text {
        width: 715px;
        margin-bottom: 5px;
        
    }
}

.secondpost {
    margin-bottom: -10px;
}

.thirdpost {
    margin-top: 17px;

}

