.footer {
    text-align: center;
    padding-top: 60px;
    background-color: #FFF6E6;

    &__contact {
        display: inline;
        text-align: center;
        border-right: 1px solid;
        padding-right: 10px;
        font-size: 14px;
        color: #653F36;
    }

    &__regal {
        display: inline;
        text-align: center;
        padding-left: 10px;
        font-size: 14px;
        color: #653F36;
    }

    &__copyright {
        margin-top: 14px;
        line-height: 26px;
        font-size: 12px;
        background-color: #653F36;
        color: white;
    }


}

.spfooter {
    display: none;
}

.scroll {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 30px;
    // color: #653F36;
    // // background-color: #d3d3d3;
    // width: 50px;
    // height: 50px;
    // border-radius: 25px;
    // border: solid 2px;
    // border-color: #653F36;
    // line-height: 50px;
    // text-align: center;
    // font-size: 24px;
}